<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mylibrary|{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
     <style>
        .textwork{
                color: grey;
                text-decoration: none;
                cursor: pointer;
        }
        .carousel-item{
            height: 80vh;
        }
        .card-img{
            height: 50vh;
            border-radius: 30px;
        }
     </style>  
</head>
  <body>
    <!-- this is navigation bar -->

    <nav class="navbar bg-light">
        <div class= "container-fluid">
          <a class="navbar-brand" href="/home">
            <img src="/static/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <span class="headname">MYlibrary</span> 
          </a>
        </div>
      </nav>

      {% block body %}{% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>